.section-hero[data-v-6064269a] {
    text-align: center
}

.section-hero .text[data-v-6064269a] {
    grid-column: 1/-1
}

.section-hero .overline[data-v-6064269a] {
    color: var(--white-500)
}

.section-hero .title[data-v-6064269a] {
    margin-top: var(--spacing-5)
}

@media screen and (min-width: 1200px) {
    .section-hero .text[data-v-6064269a] {
        grid-column: 2/span 10
    }
}